body { background-color : aliceblue; font-size : 1em; font-family : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
h3 { color : brown; text-align: center;}
section { background : pink}
hr { height : 1px; }
span { color : blue; font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}       
footer { background : orange; padding : 20px; border-radius:50px; font-family : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
